div{
	font-family: helvetica;
}
#content{
	margin-top:6px;
	display: none;
}
a{
	position: relative;
}
.title:hover{
	text-decoration: underline; 
}
.title{
	background-color:rgba(0,0,0,0.75);
	z-index:100;  
	position: absolute;
	color:white;
    font-size:16px;
    right:10px;
    bottom:35px;
    padding: 3px 5px 3px 5px;
}
.source{
	background-color:rgba(0,0,0,0.75);
	z-index:100;  
	position: absolute;
	color:white;
    font-size:12px;
    right:10px;
    bottom:10px;
    padding: 2px 4px 2px 4px;
}
#tweets{
	/*margin-left:5px;*/
	width: 300px;
}
.button{
	font-size: 14px;
	font-weight: bold;
	color: #292f33;
	text-indent: 8px;
	/*margin-left: 5px;*/
	line-height:35px;
	width: 300px;
}
.button:hover{
	cursor: pointer;
	text-decoration: underline; 
}
.odd{
	background: #e6e6e6;
}
.even{
	background-color: #fff;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 29px;
}
h1, h2{
	color: #292f33;
	display: inline;
	margin-left: 3px;
}