div{
	font-family: helvetica;
}
#content{
	margin-top:5px;
}
#tweets{
	margin-left:5px;
	width: 300px;
}
.button{
	font-size: 14px;
	font-weight: bold;
	text-indent: 8px;
	margin-left: 5px;
	line-height:35px;
	width: 300px;
}
.button:hover{
	cursor: pointer;
	text-decoration: underline; 
}
.odd{
	background: rgba(0,0,0,0.1);
}
h1, h2{
	display: inline;
	margin-left: 3px;
}