body {
	margin: 0;
}

#menu {
	position:absolute;
	margin-left: 36px;
	margin-top: 24px;
}

label, a, p {
	display: block;
	font-family: 'Oswald',Impact,Arial,sans-serif;
	font-size: 1em;
	color: #555555;
	margin: 12px 0;
	text-decoration: none;

	max-height:240px; /* to limit word count */
	overflow: hidden; /* remember: there is always text 
									that can be cut */
}

a:hover {
	color: #08AFF8;
}

.link {
	margin-left:1em;
}

section {
	margin-top:36px;
	max-width:220px;
}

select {
	width: 222px;
}