body {
	margin: 0;
}

#menu {
	position:absolute;
	margin-left: 36px;
	margin-top: 24px;
}

#instructions {
	font-style: italic;
}

label, a, p {
	display: block;
	font-family: 'PT Sans',Impact,Arial,sans-serif;
	font-size: 1em;
	color: #ffffff;
	margin: 12px 0;
	text-decoration: none;

	max-height:240px; /* to limit word count */
	overflow: hidden; /* remember: there is always text 
									that can be cut */
}

a:hover {
	color: #253B94;
}

.link {
	margin-left:1em;
}

section {
	margin:36px 0px;
	max-width:258px;
}

.top {
	margin-top:18px;
}

section img{
	width:100%;
}

#logo-pause{
	display: none;
}

select {
	width: 260px;
}