body {
	margin: 0;
}

#menu {
	position:absolute;
	margin-left: 36px;
	margin-top: 24px;
}

#instructions {
	font-style: italic;
}

label, a, p {
	display: block;
	font-family: 'Pontano Sans',Impact,Arial,sans-serif;
	font-size: 1em;
	color: #ffffff;
	text-decoration: none;

	max-height:200px; /* to limit word count */
	overflow-y: auto;; /* remember: there is always text 
									that can be cut */
}
label, p {
	margin: 12px 0;
}
a {
	color: #000;
	padding: 12px 0;
}

a:hover {
	color: #253B94;
}

.link {
	margin-left:1em;
}

section {
	margin:36px 0px;
	max-width:258px;
}

#visit {
	background: #ffffff url("images/ui-bg_fine-grain_25_ffffff_60x60.png") 50% 50% repeat;
	margin-top:0;
}


.top {
	margin: 0 0 18px 0;
}

section img{
	width:100%;
}

#logo-pause{
	display: none;
}

select {
	width: 258px;
}