body {
	font: 13px sans-serif;
}

rect {
	fill: none;
	pointer-events: all;
}

circle,
line,
.line {
	fill: none;
	stroke: purple;
	stroke-width: 1.5px;
}

circle {
	fill: white;
	cursor: move;
}

.axis1 text, .axis2 text, .axis text {
	font: 10px sans-serif;
	fill: gray;
}

.axis1 line, .axis1 path, .axis2 line, .axis2 path, .axis line, .axis path {
	fill: none;
	stroke-width: 1px;
	stroke: gray;
	shape-rendering: crispEdges;
}


.axis1 line, .axis1 path, .line1 {
	stroke: blue;
}

.axis2 line, .axis2 path, .line2 {
	stroke: green;
}

.axis1 path, .axis2 path, .axis path {
	stroke-width: 2px;
}

.cheat, .cheat1, .cheat2 {
	stroke: lightgray;
	fill: none;
}

.selected {
	fill: #ff7f0e;
	stroke: #ff7f0e;
}

div#charts {
	width: 1210px;
	height: 540px;
	margin-bottom: 10px;
}

div.chart {
	width: 580px;
	height: 540px;
	float: left;
}

div.spacer {
	float: left;
	margin-top: 257px;
	width: 50px;
}

div.slider {
	width: 500px;
	clear: left;
	float: left;
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}

line.grid1, line.grid2, line.grid {
	stroke: lightgray;
	stroke-width: 1px;
}

text {
	font-size: 10px;
	fill: rgb(199, 166, 199);
}


text.axis1 {
	fill: blue;
}

text.axis2 {
	fill: green;
}


/* Translate study */

.btn-success #progressOutline {
	border: 1px solid white;
	border-radius: 2px;
	height: 15px;
	margin: 0 auto;
	width: 3em;
}

.btn-success #progressBar {
	background: white;
	height: 100%;
	width: 0%;
}

.instructions {
	display: none;
}

#studycontent {
	display: none;
}

.tutorial {
	display: none;
}

.row {
	margin-left: 10px;
}

#export {
	visibility: collapse;
}
